.bg-img {
  background-image: url('/img/login-bg.jpg');
}

/* #region Console */
.console-filter {
  opacity: 40%;
}
.mockup-window {
  --text-color: #ffffff;
  color: var(--text-color);
}
.mockup-window::before {
  display: none;
}

/* Window buttons */
.mockup-window .mockup-bar > div {
  content: "";
  display: block;
  aspect-ratio: 1 / 1;
  height: 1.25rem;
  border-radius: 9999px;
  opacity: 0.6;
  box-shadow: 2em 0 red, 4.3em 0 yellow, 6.6em 0 lime;
}