.container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 4rem 2.5rem;
    border-radius: 20px;
    background-color: hsla(0,0%,5%,.3);
}
.Subtitle
{
    margin-bottom: 5.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: hsla(0,0%,100%,.65);
}
.Heading
{
    width: -moz-fit-content;
    width: fit-content;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
}
.Paragraph1
{
    text-indent: 0px;
    font-weight: 400;
    font-size: 1.1rem;
    color: hsla(0,0%,100%,.8);
}
.List
{
    margin-left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: hsla(0,0%,100%,.8);
}
.BulletPoint
{
    margin: .25rem 0;
}
.DropDown
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 2.5rem 1.5rem;
    border-radius: 0 0 15px 15px;
    background-color: #41362f;
    overflow: hidden;
    transition: all .2s cubic-bezier(.39,.58,.57,1);
}
.JobsHeader
{
    margin: 0 0 .75rem !important;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}