.hero-p {
    font-size: 32px;
    line-height: 40px;
    padding-top: 10px;
}
.idk {
    padding-right: 20px;
}
.showcase {
    display: block;
    margin: auto;
    text-align: center;
}
.mockup-code {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
}
.mockup-window .mockup-bar > div {
  height: 1rem !important;
  box-shadow: 0.75em 0 red, 1.8em 0 yellow, 2.85em 0 lime !important;
}