#hydro .cards {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  height: fit-content;
}
@media (max-width: 346px) {
  #hydro {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 465px) {
  #hydro .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
#hydro .cards .card {
  max-height: 600px;
}
#hydro .cards .card .target svg {
  width: 2.5rem;
}
.see-link {
  transition: none;
}
.see-link * {
  transition: none;
}
.see-link:not(:hover) {
  color: oklch(var(--s));
}

.hero-p {
    font-size: 32px;
    line-height: 40px;
    padding-top: 10px;
}
.idk {
    padding-right: 20px;
}
.showcase {
    display: block;
    margin: auto;
    text-align: center;
}
.mockup-code {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
}
.mockup-window .mockup-bar > div {
  height: 1rem !important;
  box-shadow: 1em 0 red, 2.5em 0 yellow, 4em 0 lime !important;
}
.stats {
    text-align: center;
}
.smd {
  border: 2px solid var(--fallback-b1,oklch(var(--b2)/1));
  border-radius: 15px; 
  background:  var(--fallback-b1,oklch(var(--b2)/1));
}